@model CheeseMVC.ViewModels.AddMenuItemViewModel


@{

    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
 }

<h1>@ViewBag.Title</h1>

<form asp-controller="Menu" asp-action="AddItem" method="post">

    <label asp-for="CheeseID">Avaliable Cheeses</label>
    <select asp-for="CheeseID">
        @foreach (var cheese in Model.Cheeses)
        {
            <option value="@cheese.Value">@cheese.Text</option>
        }

    </select>
    <span asp-validation-for="CheeseID"></span>
    <input type="hidden" name="MenuID" value="@Model.Menu.MenuID" />
    

    <input type="submit"  value="Add Cheese to Menu" />


</form>
