@model CheeseMVC.ViewModels.AddMenuItemViewModel


@{

    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
 }


<form asp-controller="Menu" asp-action="AddItem" method="post">

    <label asp-for="Cheeses">Avaliable Cheeses</label>
    <select asp-for="Cheeses">
        @foreach (var cheese in Model.Cheeses)
        {
            <option value="@cheese.Value">@cheese.Text</option>
        }

    </select>
    <input type="hidden" name="MenuID" value="@Model.Menu.MenuID" />
    <span asp-validation-for="menuID"></span>

    <input type="submit"  value="Add Cheese to Menu" />


</form>
