@model List<CheeseMVC.Models.Menu>



<ul>

    @foreach (var item in Model)
    {

        <li><a asp-controller="Menu" asp-action="ViewMenu" asp-route-id="@item.MenuID">@item.Name</a></li>

    }

</ul>


<p><a asp-controller="Menu" asp-action="Add">Add a Menu</a></p>

