@model CheeseMVC.ViewModels.ViewMenuViewModel

@{

    ViewBag.Title = Model.Menu.Name;

}

<h1>@ViewBag.Title</h1>


<div>
    <ul>
        @foreach (var item in Model.Items)
         {
             <li>@item.Cheese.Name</li>
         }

    </ul>
</div>


<div>
    <p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.MenuID">Add an item to your menu</a></p>

</div>